<div class="panel panel-default">
  <div class="panel-heading">Форма редактирования URL канала</div>
  <div class="panel-body">
    <form name="addForm" ng-submit="addForm.$valid && vm.edit()">
    	<div class="form-group">
    		<input type="text" name="url" class="form-control" placeholder="http://example.com/feed.rss" ng-model-options="{debounce: 200}" ng-model="vm.url" check-url required>
    	</div>
    	<input type="submit" value="Изменить" class="btn btn-default">
    </form>
  </div>
</div>